<mat-toolbar color="primary" class="mat-elevation-z6">
	<button mat-icon-button (click)="snav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<h1>Administraci&oacute;n</h1>
</mat-toolbar>

<mat-sidenav-container class="main-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
	<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
	 fixedBottomGap="fixed" role="navigation" opened="true">
		<mat-nav-list *ngFor="let item of filteredNavList('Dashboard')">
			<a mat-button class="btn-block" [routerLink]="item.Link" routerLinkActive="active">
				<i class="material-icons">{{item.Icon}}</i>{{item.Label}}</a>
		</mat-nav-list>
		<mat-divider></mat-divider>
		<small class="text-muted"><b>Operaciones</b></small>
		<mat-nav-list *ngFor="let item of filteredNavList('Operations')">
			<a mat-button class="btn-block" [routerLink]="item.Link" routerLinkActive="active">
				<i class="material-icons">{{item.Icon}}</i>{{item.Label}}</a>
		</mat-nav-list>
		<mat-divider></mat-divider>
		<small class="text-muted"><b>Administraci&oacute;n</b></small>
		<mat-nav-list *ngFor="let item of filteredNavList('Admin')">
			<a mat-button class="btn-block" [routerLink]="item.Link" routerLinkActive="active">
				<i class="material-icons">{{item.Icon}}</i>{{item.Label}}</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content role="main">
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>