<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-primary">
				<div class="row h-100 justify-content-center align-items-center">
					<div class="col-md-9 col-sm-9">
						<h6>Ganancia diaria</h6>
					</div>
					<div class="col-md-3 col-sm-3 text-right menu-icon">
						<button mat-icon-button [matMenuTriggerFor]="menu" class="right">
							<mat-icon>expand_more</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>
								<mat-icon>add</mat-icon>
								<span>M&aacute;s Detalle</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h1 class="card-title">$ 1000</h1>
				<p class="card-text">04/04/2018</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-primary">
				<div class="row h-100 justify-content-center align-items-center">
					<div class="col-md-9 col-sm-9">
						<h6>Ganancia mensual</h6>
					</div>
					<div class="col-md-3 col-sm-3 text-right menu-icon">
						<button mat-icon-button [matMenuTriggerFor]="menu" class="right">
							<mat-icon>expand_more</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>
								<mat-icon>add</mat-icon>
								<span>M&aacute;s Detalle</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h1 class="card-title">$ 5000</h1>
				<p class="card-text">01/04/2018 a 30/04/2018</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header bg-primary">
				<div class="row h-100 justify-content-center align-items-center">
					<div class="col-md-9 col-sm-9">
						<h6>Ganancia anual</h6>
					</div>
					<div class="col-md-3 col-sm-3 text-right menu-icon">
						<button mat-icon-button [matMenuTriggerFor]="menu" class="right">
							<mat-icon>expand_more</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item>
								<mat-icon>add</mat-icon>
								<span>M&aacute;s Detalle</span>
							</button>
						</mat-menu>
					</div>
				</div>
			</div>
			<div class="card-body">
				<h1 class="card-title">$ 18000</h1>
				<p class="card-text">Año 2018</p>
			</div>
		</div>
	</div>
</div>