//Default colors
$primary-color: #263238;
$primary-color-dark: #000a12;
$primary-color-light: #4f5b62;
$accent-color: #757575;
$accent-color-dark: #494949;
$accent-color-light: #a4a4a4;

$info-color: #5894f3;
$success-color: #34a853;
$warning-color: #fbbc05;
$danger-color: #ea4335;

//Text colors
$dark-color: #ffffff;